<%-include('./partials/header')%>
<main class="">
    <h1 class="text-center">Formulario nueva transacción</h1>
    <form action="/trx" method="POST" class="">
      <div class="mb-3 d-flex flex-column align-items-center">
        <select name="client" class="form-select size-input" aria-label="Default select example">
          <option value="" selected>Seleccionar cliente</option>
            <% for(let i=0; i<clients.length; i++) { %>
              <option value="<%=clients[i].client_id%>"><%=clients[i].client_name%></option>
            <%}%>
        </select>
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <select name="trx" class="form-select size-input" aria-label="Default select example">
          <option value="" selected>Seleccionar transacción</option>
            <% for(let i=0; i<types.length; i++) { %>
              <option value="<%=types[i].type_id%>"><%=types[i].type_name%></option>
            <%}%>
        </select>
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <input name="import" type="text" class="form-control size-input" id="import" placeholder="Ingresar importe">
      </div>
      <div class="mb-3 d-flex flex-column align-items-center">
        <input name="date" type="date" class="form-control size-input" id="date" placeholder="Ingresar fecha">
      </div>
      <div class="d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
  <%-include('./partials/footer')%>